<div class="h-auto md:h-36 bg-amber-400 py-6">
    <div class="md:flex justify-between items-end max-w-4xl mx-auto">
    <a href = "/" class="flex flex-col items-center text-center md:text-left text-4xl md:text-5xl noto-serif-header font-black text-slate-800 mb-1 md:mb-0">Roosevelt Sinker</h1>
    
        {% include 'navigation.njk' %}
  
    </div>
</div>