<ul class="text-center text-lg">
	{%- for item in collections.pages -%}
		<li class="inline-block">
			<a class="p-2 bg-green-400 m-5 hover:bg-orange-300 w-96" href="{{ item.url }}">{{ item.data.title }}</a>
		</li>
	{%- endfor -%}
</ul>