---
layout: home
pagination:
    data: projects
    size: 1
    alias: project
permalink: "projects/{{ project.title | slugify }}/"
---

<img src = "/images/{{project.image}}">
<h1 class = "text-4xl font-bold"> {{project.title}} </h1>
<p class = ""> {{project.role}} | {{project.timeframe}} | <a href = "{{project.link}}"> {{link}} </a> </p>
<p > {{project.summary}} </p>