<!doctype html>
<html lang="en" dir="ltr">
  <head>    
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/9e44ba9da7.js" crossorigin="anonymous"></script>

    <title>{% if title and title != 'Home' %}{{title}} - {% endif %}{{ config.siteTitle }}</title>

  </head>
  <body>
    <header>
      {% include 'header.njk' %}
    </header> 
    <div class="max-w-4xl mx-auto my-12">
			{{ content | safe }}
    </div>
		
    <footer class="mt-0 text-center text-base text-gray-500">
      <div class="">
        <i class="fa-brands fa-linkedin fa-4x"></i>
        <i class="fa-brands fa-itch-io fa-4x"></i>
        <i class="fa-brands fa-square-github fa-4x"></i>
      </div>
      <p>&copy; {{ '' | year }} - <a href="{{ config.url }}">{{ config.siteTitle }}</a></p>
			<p class="pt-1 text-sm">Made with a template by <a href="https://github.com/jeremydaly/eleventy-tailwind-template" target="_blank" class="text-pink-500">Jeremy Daly</a></p>
    </footer>
  </body>
</html>
