---
layout: base
---
<h1 class = "blog-title"> {{title}} </h1>

{% if image %}
<img class="rounded-2xl border border-gray-400 border-2 mb-12" src = "/images/blog/{{image}}">
{% endif %}

{{ content | safe }}

<p class = "text-sm text-slate-400 clear-both"> Originally published on: {{post.date | date('F d, Y')}} </p>